.container {
  @include flex(space-between, flex-start, column);
  gap: 2rem;

  section {
    width: 100%;
    background-color: $gray_10;
    padding: ptr(16);
    border-radius: ptr(5);
    @include flex(start, center);
    gap: 1rem;
  }
}

.order_list {
  width: 100%;
  @include flex(center, center, column);
  gap: 1.25rem;
}