.container {
  @include flex(space-between, flex-start, column);
  gap: 2rem;

  section {
    width: 100%;
    background-color: $gray_10;
    padding: ptr(16);
    border-radius: ptr(5);
    @include flex(start, center);
    gap: 1rem;
  }
}

.order_cancel_form {
  width: ptr(500);
  @include flex(center, start, column);
  gap: ptr(16);
}

.order_cancel_form_title {
  @include flex(center, start, column);
  width: 100%;
}

.order_cancel_form_select {
  width: 100%;
}

.order_cancel_form_buttons {
  width: 100%;
  @include flex(center, center);
  gap: ptr(7);
}
