.uploader {
  width: 100%;
  @include flex(start, center, column);
  gap: 7.5px;

  div {
    width: 100%;
    @include flex(center, center);
    gap: 7.5px;
  }

  p {
    width: 100%;
    white-space: nowrap;
  }

  label {
    width: 100%;
    height: ptr(56);
    padding: 0 ptr(16);
    align-self: stretch;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid $gray_20;
    border-radius: ptr(8);
    @include flex(center, center);
    gap: 5px;
  }

  input[type='file'] {
    display: none;
  }
}

.name {
  width: 100%;
  border-bottom: 1px solid $gray_20;
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
}