.button {
  padding: 0 ptr(16);
  align-self: stretch;
  width: 100%;
  height: ptr(56);
  border-radius: ptr(8);
  font-family: $font-family-kr;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 50%;
  background-color: $gray_10;
  color: $gray_50;
}

.primary {
  background-color: $primary;
  color: $white;
}

.line {
  color: $black;
  border: 1px solid $gray_20;
}

.none {
  all: unset;
  cursor: pointer;
}
