.divider {
  width: 100%;
}

.small {
  border-top-width: 0.5px;
  border-top-color: $gray-20;
}

.medium {
  border-top-width: 1px;
  border-top-color: $gray-20;
}

.large {
  border-top-width: 1.5px;
  border-top-color: $gray-20;
}

.dotted {
  border-top-style: dotted;
}

.dashed {
  border-top-style: dashed;
}

.none {
  border-top-style: solid;
}
