.container {
  @include flex(space-between, flex-start);
  gap: 2rem;

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem 1rem;
    padding-bottom: 2rem;
  }
}