.header {
  width: 100%;
  @include flex(space-between, center);
  padding: 2rem 0;
}

.header_left {
  @include flex(space-between, center);
  gap: 2rem;

  ul {
    @include flex(space-between, center);
    gap: 0.75rem;
    li {
      font-weight: normal;
      font-size: 0.85rem;
    }
  }
}

.header_right {
  @include flex(space-between, center);

  ul {
    @include flex(space-between, center);
    gap: 0.75rem;
    li {
      width: 1rem;
      height: 1rem;
    }
  }
}

.header_active {
  color: $primary;
  font-weight: 700;
}

.logo {
}
