$black:  #000;
$white: #fff;
$primary: #1c75ff;
$secondary: #ebf3fe;
$success: #009444;
$error: #d92a0f;
$accent:  #1c75ff;
$gray_80: #6b6b6b;
$gray_50: #a2a2a2;
$gray_20: #d9d9d9;
$gray_10: #f5f5f5;
$dim_5: rgb(20 20 20 / 5%);
$dim_10: rgb(20 20 20 / 10%);
$dim_30: rgb(20 20 20 / 30%);
$dim_60: rgb(20 20 20 / 60%);