$font-family-kr:
        'Pretendard Variable',
        'Pretendard',
        -apple-system,
        'BlinkMacSystemFont',
        'system-ui',
        'Roboto',
        'Helvetica Neue',
        'Segoe UI',
        'Apple SD Gothic Neo',
        'Noto Sans KR',
        'Malgun Gothic',
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol',
        sans-serif;

$font-size-pc: 16;
$font-size-pc-px: ($font-size-pc) * 1px;
$font-size-mo: 12;
$font-size-mo-px: ($font-size-mo) * 1px;
$font-size-base: 1rem;
$font-weight-bold: 700;
$font-weight-normal: 500;
$font-weight-regular: 400;
$font-letter-spacing-base: -0.2px;

@mixin base_kr($size, $line, $font-weight) {
  font-family: $font_family_kr;
  font-size: $size;
  font-style: normal;
  font-weight: $font-weight;
  letter-spacing: $font_letter_spacing_base;
  line-height: $line;
}

.font_48 {
  &_bold {
    @include base_kr(48px, 1.25, $font_weight_bold);
  }
}

.font_40 {
  &_bold {
    @include base_kr(40px, 1.4, $font_weight_bold);
  }

  &_medium {
    @include base_kr(40px, 1.4, $font_weight_normal);
  }
}

.font_36 {
  &_bold {
    @include base_kr(36px, calc(50 / 36), $font_weight_bold);
  }

  &_medium {
    @include base_kr(36px, calc(50 / 36), $font_weight_normal);
  }
}

.font_32 {
  &_bold {
    @include base_kr(32px, calc(45 / 32), $font_weight_bold);
  }

  &_medium {
    @include base_kr(32px, calc(45 / 32), $font_weight_normal);
  }
}

.font_28 {
  &_bold {
    @include base_kr(28px, calc(39 / 28), $font_weight_bold);
  }

  &_medium {
    @include base_kr(28px, calc(39 / 28), $font_weight_normal);
  }

  &_regular {
    @include base_kr(28px, calc(39 / 28), $font_weight_regular);
  }
}

.font_24 {
  &_bold {
    @include base_kr(24px, calc(34 / 24), $font_weight_bold);
  }

  &_medium {
    @include base_kr(24px, calc(34 / 24), $font_weight_normal);
  }

  &_regular {
    @include base_kr(24px, calc(34 / 24), $font_weight_regular);
  }
}

.font_20 {
  &_bold {
    @include base_kr(20px, calc(28 / 20), $font_weight_bold);
  }

  &_medium {
    @include base_kr(20px, calc(28 / 20), $font_weight_normal);
  }

  &_regular {
    @include base_kr(20px, calc(28 / 20), $font_weight_regular);
  }
}

.font_16 {
  &_bold {
    @include base_kr(16px, 1.5, $font_weight_bold);
  }

  &_medium {
    @include base_kr(16px, 1.5, $font_weight_normal);
  }

  &_regular {
    @include base_kr(16px, 1.5, $font_weight_regular);
  }
}

.font_14 {
  &_bold {
    @include base_kr(14px, calc(22 / 14), $font_weight_bold);
  }

  &_medium {
    @include base_kr(14px, calc(22 / 14), $font_weight_normal);
  }

  &_regular {
    @include base_kr(14px, calc(22 / 14), $font_weight_regular);
  }
}

.font_12 {
  &_bold {
    @include base_kr(12px, calc(17 / 12), $font_weight_bold);
  }

  &_medium {
    @include base_kr(12px, calc(17 / 12), $font_weight_normal);
  }

  &_regular {
    @include base_kr(12px, calc(17 / 12), $font_weight_regular);
  }
}

.font_10 {
  &_medium {
    @include base_kr(10px, calc(14 / 10), $font_weight_normal);
  }

  &_regular {
    @include base_kr(10px, calc(14 / 10), $font_weight_regular);
  }
}