@use 'sass:map';

@mixin flex($jc, $ai, $di: row) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
  @if $di != row {
    flex-direction: $di;
  }
}

@mixin base($size, $line) {
  font-family: $font_family_kr;
  font-size: ptr($size);
  font-style: normal;
  letter-spacing: $font_letter_spacing_base;
  line-height: $line;
}
