.container {
  @include flex(space-between, flex-start);
  gap: 2rem;
}

.cart_content {
  flex: 1;
  @include flex(center, start, column);
  border: 1px solid $gray_20;
  padding: ptr(7.5);
  border-radius: ptr(5);
  gap: 0.5rem;

  ul {
    width: 100%;
    @include flex(center, center, column);
    gap: 0.5rem;
  }

  li {
    width: 100%;
    @include flex(space-between, center);
  }
}

.cart_item_quantity_update_form {
  width: 500px;
  @include flex(center, start, column);
  gap: 1rem;
}

.cart_item_quantity_update_form_card {
  width: 50%;
}

.cart_item_quantity_update_form_detail {
  width: 100%;
  @include flex(space-between, center);
}

.cart_item_quantity_update_form_buttons {
  width: 100%;
  @include flex(center, center);
  gap: 0.5rem;
}

.cart_order_form {
  width: 100%;
  @include flex(center, start, column);
  gap: ptr(25);
  div {
    width: 100%;
  }
}

.cart_order_form_payment_list {
  @include flex(start, center);
  gap: ptr(7);
}
