.container {
  @include flex(space-between, flex-start);
  gap: 2rem;
}

.cart_list {
  width: 650px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem 1rem;
  margin-bottom: 2rem;
  border-top: 1px solid $gray_20;
  border-bottom: 1px solid $gray_20;
  padding: 1rem 0;
}

.cart_content {
  flex: 1;
  @include flex(center, start, column);
  border: 1px solid $gray_20;
  padding: ptr(7.5);
  border-radius: ptr(5);
  gap: 0.5rem;

  ul {
    width: 100%;
    @include flex(center, center, column);
    gap: 0.5rem;
  }

  li {
    width: 100%;
    @include flex(space-between, center);
  }
}