.range {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  @include flex(center, center);

  input {
    width: ptr(30);
    text-align: center;
  }
}
