.admin_product_list {
  min-height: ptr(200);
  a {
    width: 100%;
    height: 100%;
    @include flex(center, center, column);
    border: 1px dotted  $gray_20;
    border-radius: ptr(15);
    gap: 0.65rem;
  }

  div {
    width: 2rem;
    height: 2rem;
    background-color: $primary;
    border-radius: 50%;
    @include flex(center, center);
  }
}

.cart_list {
  width: 650px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem 1rem;
  margin-bottom: 2rem;
  border-top: 1px solid $gray_20;
  border-bottom: 1px solid $gray_20;
  padding: 1rem 0;
}